fastapi
uvicorn
supabase
google-generativeai
python-dotenv
python-multipart
requests
pydantic
pydantic[email]
bcrypt
PyJWT
pandas
scikit-learn
Flask
faiss-cpu
numpy
pinecone-client
sentence-transformers
transformers
torch
tqdm
rich
colorama
typing-extensions
blinker
certifi
charset-normalizer
click
dnspython
filelock
fsspec
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
packaging
protobuf
pyasn1
pyasn1_modules
pycparser
Pygments
pyparsing
python-dateutil
PyYAML
regex
safetensors
scipy
shellingham
six
sympy
threadpoolctl
tokenizers
typer
uritemplate
urllib3
Werkzeug
google-api-python-client
google-auth
google-auth-httplib2
huggingface_hub
httpx
httpcore
h11
isodate
markdown-it-py
mdurl
proto-plus
uritemplate
typing-inspection
tzdata
annotated-doc
annotated-types
anyio
hf-xet
