fastapi
uvicorn
supabase==2.10.0
google-generativeai
groq
python-dotenv
python-multipart
requests
pydantic
pydantic[email]
typing-extensions
pinecone
openai-whisper
yt-dlp
imageio-ffmpeg
setuptools
tavily-python
google-api-python-client
